Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

What is 7 to the power of 4?

In [1]:
7**4

2401

Split this string:

s = "Hi there Sam!"

into a list.

In [2]:
s = "Hi there Sam!"
s1 = s.split()
s1

['Hi', 'there', 'Sam!']

Given the variables:

planet = "Earth"

diameter = 12742

Use .format() to print the following string:

The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

Given this nested list, use indexing to grab the word "hello"

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [4]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][-1]

'hello'

What is the main difference between a tuple and a list?

List is mutable, whereas a tuple is immutable.

Create a function that grabs the email website domain from a string in the form:

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [6]:
def extract_domain(mail_id):
  domain = mail_id.split('@')
  return domain[-1]
extract_domain("user@domain.com")

'domain.com'

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [7]:
def check_dog(s):
  return "dog" in s
check_dog("This is a dog")

True

Problem

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [8]:
def ticket(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [9]:
ticket(81,False)

'Big Ticket'

In [10]:
ticket(59,False)

'No Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [11]:
employee = [30000,23000,36000,24500,32500]
total_salary=0
for sal in employee:
  total_salary+=sal
print("The total salary expenditure is ",total_salary)

The total salary expenditure is  146000

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [12]:
d1 = {'empid' : 100, 'empname' : 'Deepan', 'basicpay' : 40000}
d2 = {'deptname' : 'IT' , 'deptid' : 1000}
combined_dict = {**d1,**d2}
print(combined_dict)

{'empid': 100, 'empname': 'Deepan', 'basicpay': 40000, 'deptname': 'IT', 'deptid': 1000}